<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Copias Películas</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="logo"><span>Movie Collection</span></div>
        <nav>
            <a href="/" class="btn black">Listado de Películas</a>
            <a href="/login" class="btn">Iniciar Sesión</a>
            <a href="/contact" class="btn">Soporte</a>
        </nav>
    </header>
    <main>
        <h1>Copias Películas</h1>
        <h3>Añadidas por la Comunidad</h3>
        <form class="busqueda-form">
            <input type="text" placeholder="Buscar">
            <input type="text" placeholder="Genero">
            <input type="text" placeholder="Año">
        </form>
        <div class="peliculas">
            <div class="pelicula">
              <img src="https://m.media-amazon.com/images/I/51v5ZpFyaFL._AC_.jpg" alt="El Señor De Los Anillos">
              <b>El Club De La Lucha(2016)</b>
              <p>Pelicula epica de peleas y aventura basada en la psicologia.</p>
              <button class="btn">Ver mas</button>
            </div>
            <div class="pelicula">
              <img src="https://m.media-amazon.com/images/I/71c05lTE03L._AC_SY679_.jpg" alt="Se7en">
              <b>Se7en (1995)</b>
              <p>Thriller de detectives protagonizado por Brad Pitt y Morgan Freeman.</p>
              <button class="btn">Ver mas</button>
            </div>
            <div class="pelicula">
              <img src="https://upload.wikimedia.org/wikipedia/en/5/53/Parasite_%282019_film%29.png" alt="Parasite">
              <b>Parasite (2019)</b>
              <p>Drama surcoreano ganador de Oscar sobre una familia que engaña a una rica.</p>
              <button class="btn">Ver mas</button>
            </div>
          </div>
    </main>
    <footer>
        <div class="footer-icons">
            <span>X</span><span>Instagram</span>
            <span>YouTube</span><span>LinkedIn</span>
        </div>
        <div class="footer-legal">Política de Privacidad / Términos de Uso</div>
    </footer>
</body>
</html>

